body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
form {
    margin: 5%;
}
label {
    display: inline-block;
    margin-right: 10px;
}
input:required::after {
    content: "*";
}
input#submit {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #86ff86;
    border: 0px;
    border-radius: 30px;
    padding: 10px;
}